
footer.bg-light.text-center.py-3
    img.mb-2(src='assets/logo.png', alt='cotswold cycling adventure logo', height='40')
    ul.list-inline
        li.list-inline-item
            a.text-decoration-none(href='#') About us
        li.list-inline-item
            a.text-decoration-none(href='#') Download apps
        li.list-inline-item
            a.text-decoration-none(href='#') Become a guide
        li.list-inline-item
            a.text-decoration-none(href='#') Careers
        li.list-inline-item
            a.text-decoration-none(href='#') Contact
    p &copy; by Artur Sas Dunajewski. All rights reserved.