doctype html
html
    head 
        meta(charset='UTF-8' )
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(rel='shortcut icon', type='image/png' href='/img/favicon.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        script(defer src="bundle07296fc59b00c4bc1654.js")

        title Cotswold Adventures Cycling | #{title}
    body
        //- ctrl + a / ctrl + shift + p / < pug
        // HEADER
        include _header

        // CONTENT
        block content

        // FOOTER
        include _footer
 

