@use '../helpers/index' as *;

// "General" Styles
html {
    box-sizing: border-box;
    // On some small screen size, it disable horizontal scroll bar 
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    // On some small screen size, it disable horizontal scroll bar 
    overflow-x: hidden;
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    color: $green;
}

main {
    // Removes right side white screen overflow
    overflow: hidden;
}

h1 {
    color: $darkGreen;
    font-weight: 900;
    text-shadow: 1px 1px 0 $darkGreen;
}

h2 {
    color: $darkGreen;
}